{
    email admin@liangz77.cn
}

http://liangz77.cn, http://www.liangz77.cn {
    redir https://liangz77.cn{uri} permanent
}

https://liangz77.cn {
    root * /srv/sites/liangz77.cn/current
    encode zstd gzip
    file_server
}

https://www.liangz77.cn {
    redir https://liangz77.cn{uri} permanent
}
